<ejs-treegrid 
[dataSource]="data"
childMapping="subtask"
[treeColumnIndex]="1"
[allowPaging] = "false"
[pageSettings] = "pageSettings"
[allowSorting]='true'
[sortSettings] = "pageSorting"
[allowFiltering]='true'
[filterSettings]="filterSetting"
[toolbar]='toolbarOptions' 
 [editSettings]='editSettings'
>
<e-columns>[]
  <e-column 
  field= "taskID"
  headerText="Task ID"
  textAlign="right"
  width="40" 
  editType= "numericedit"
  ></e-column>

  <e-column 
  field= "taskName"
  headerText="Task Name"
  textAlign="Left"
  width="50" 
  ></e-column>

  <e-column 
  field= "startDate"
  headerText="Start Date"
  textAlign="Left"
  width="50" 
  format= "yMd"
  editType= "datetimepickeredit"
  ></e-column>

  <e-column 
  field= "endtDate"
  headerText="End Date"
  textAlign="Left"
  width="50" 
  format= "yMd"
  editType= "datetimepickeredit"
  ></e-column>

  <e-column 
  field= "duration"
  headerText="Duration"
  textAlign="Left"
  width="40" 
  editType= "numericedit"
  ></e-column>

  <e-column 
  field= "progress"
  headerText="Progress"
  textAlign="Left"
  width="40" 
  editType= "numericedit"
  ></e-column>

  <e-column 
  field= "priority"
  headerText="Priority"
  textAlign="Left"
  width="50" 

  ></e-column>

  <e-column 
  field= "approved"
  headerText="Approved"
  textAlign="Left"
  width="50" 
  editType= "booleanedit"
  ></e-column>

  <e-column 
  field= "isInExpandState"
  headerText="In Expand State"
  textAlign="Left"
  width="50" 
  editType= "booleanedit"
  ></e-column>

  <e-column 
  [commands]="commands"
  headerText="Commands"
  width="50" 
  ></e-column>
</e-columns>
</ejs-treegrid>